header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
input {
  width: 200px;
  border: none;
  padding: 15px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  width: 200px;
  border: none;
  padding: 15px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

button {
  width: 200px;
  border: none;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #0056b3;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  padding: 20px;
  margin-top: 20px;
}
.card h1 {
  font-size: 23px;
  margin-bottom: 10px;
  color: #414141;
}

.card p {
  font-size: 15px;
  margin: 5px 0px;
  line-height: 1.5;
  color: #414141;
}

.date {
  text-align: end;
}
